<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464705815256-n726544nt8ub853htnbh8v1l4qqce02f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464705815256-n726544nt8ub853htnbh8v1l4qqce02f</string>
	<key>API_KEY</key>
	<string>AIzaSyCNJYIHFB1XrblzoNsRndmx63OvlvAAs6I</string>
	<key>GCM_SENDER_ID</key>
	<string>464705815256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aniLoginapp</string>
	<key>PROJECT_ID</key>
	<string>noteapplication-e8034</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapplication-e8034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464705815256:ios:e9c27b80a1e3d2527e8dad</string>
</dict>
</plist>